extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content
    section#introSection
        div Welcome To Ritvik Dance Academy 
        div.small Eat Sleep Dance Repeat
    div#demoo
    section#missonSection 
        h1 Why Choose Us?
        div.cards
            h3 QUALITY TRAINING
            p Proper technique, individual attention, professional dance instructors, creative artistry.
        div.cards
            h3 SAFE, NON-COMPETITIVE ENVIRONMENT
            p Growth of individual talents, positive relationships, focus on building self confidence.

        div.cards
            h3 STATE-OF-THE-ART FACILITY
            p  Professional sprung dance floors and sound system. mmmm 
        