extends base.pug

block style 
    style
      include ../static/style.css
      include ../static/styleServices.css

block content

    div.box
        div#first
            h2 HIP-HOP CLASSES 
            h4 TIMING : 6 TO 7 (EVENING)
            p Intoxicating beats, fluid dance moves and a culture of its own — no other genre of dance has got quite as much swag as hip-hop. We give you the low down on where to learn this form.
            img(src="../static/hiphop.jpg", alt="", class="sp")
        div#second
            h2 SALSA CLASSES  
            h4 TIMING : 7 TO 8 (EVENING)
            p Hips really don’t lie at these schools where salsa reign supreme. So throw on some dancing shoes and channel your inner Enrique Iglesias or Shakira when you sign up. 
            img(src="../static/salsa1.jpg", alt="", class="sp")
        div#third 
            h2 KATHAK CLASSES 
            h4 TIMING : 7 TO 8 (EVENING)
            p The Kathak dance serves as a valuable tool, the benefits of Kathak dance extend not only to your mind, but also to your body. So join now.
            img(src="../static/kathak.jpg", alt="", class="sp")